PyQt6
customtkinter
speech_recognition
pyttsx3
openai
numpy
opencv-python
pillow
psutil
pyautogui
requests
beautifulsoup4
wikipedia
wolframalpha
python-dotenv
face_recognition
deepface
playsound
pygame
screeninfo
GPUtil